:root {
    --primary: hsl(25, 97%, 53%);
    
    --neutralDarkest: hsl(228, 20%, 9%);
    --neutralDarker: hsl(216, 12%, 8%);

    --neutralDark: hsl(213, 19%, 18%);

    --neutral: hsl(216, 12%, 54%);
    --neutralLight: hsl(217, 12%, 63%, 0.25);
    --neutralLighter: hsl(0, 0%, 100%);
}  
/* global styles */
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body,
html {
    margin: 0;
    padding: 0;
}
 
/* typography */

body {
    font-family: 'Overpass', sans-serif;
    font-size: 0.9375rem; /*15px to match the design*/
    color: var(--neutral);
    line-height: 1.55;
    font-weight: 400;
    text-align: left;
}

h1 {
    color: var(--neutralLighter);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1;
}

.button {
    color: var(--neutralLighter);
}

#thank-you-state {
    text-align: center;
}

.select-text {
    color: var(--primary);
}
  
/* layout */

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: var(--neutralDarkest);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--neutralDark);
    border-radius: 15px;
    width: 330px;
    height: 365px;
    margin: 1.5rem;
}

.card-content {
    padding: 1.09375rem /*17.5px to match the design better*/
}

img {
    padding: .75rem;
}

.icon {
    background: var(--neutralLight);
    border-radius: 50px;
}

/*form layout*/

.radio-holder,
.button-holder {
    text-align: center;
}

.radio-holder {/*changes features from the default container class*/
    justify-content: space-around;
    gap: 0.3rem;
    margin: 1.125rem 0; /*margin: vertical horizontal*/
    font-size: 0.75rem;
}

.radio-holder input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none; /*removes tab keyboard accessibility 
    however, allows for up and down arrows for nav*/
}

.radio-holder label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 100%;
    background: var(--neutralLight);
}

.radio-holder label:hover {
    background: var(--primary);
    color: var(--neutralLighter);
}

.radio-holder input[type="radio"]:checked+label {
    background: var(--neutral);
    color: var(--neutralLighter);
}

.button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5ch;
}

.button {
    cursor: pointer;
    min-width: 280px;
    min-height: 45px;
    margin: 1rem 0;
    border: none;
    border-radius: 50px;
    background: var(--primary);
}

.button:hover {
    background: var(--neutralLighter);
    color: var(--primary);
}

/* Thank you state layout*/

#thank-you-state {
    display: none; /*default state before submission*/
}
.select-text {
    background: var(--neutralLight);
    border-radius: 50px;
}